
div {
    text-align: center;
    border: 2px dashed red;
    width: 400px;
    height: 200px;
}

#div1 {
    /*background-color: aqua;*/
    background: linear-gradient(to right bottom, red, yellow);
    /*float: right;*/
    float: left;
}

#div2 {
    background-color: antiquewhite;
    float: right;
}

#div3 {
    background-color: blueviolet;
    clear: both;
}







