<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <!--<li><a href="../">Home</a></li>-->
            <li><a href="../index.html">Home</a></li>
            <li><a href="./about.html" class="current">About</a></li>
        </ul>
    </nav>
    <h1>About</h1>
</header>

<main>
    <section>
        <div class="img-container">
            <img src="../images/sunrise.jpg"/>
        </div>
    </section>
    <section>
        <p id="id-p1">I am Wasin Sanguansuk.</p>
        <p id="id-p2">I want to be a Full-Stack Java Developer.</p>
        <p id="id-p3">I am training at Per Scholas.</p>
    </section>
</main>

<footer>

</footer>
</body>
</html>